#specListItem {
  font-size: small;
  font-weight: 500;
  border: 1px solid white;
  text-align: center;
  height: 110px;
  vertical-align: bottom;
  display: table-cell;
  width: 68px;
}

#specListItem.spec-selected {
  border: 1px dashed #0000FF;
  background-color: plum;

}

#specListItem img {
  text-align: center;
}
