.wider-container {
  max-width: 1000px;
}

th {
  padding-right: 1px;
}

td {
  padding-right: 1px;
}

#numberOfWorkers label {
  padding-left: 10px;
  padding-right: 40px;
}

.worker-checkbox {
  padding: 0px;
}
.tier-title{
  padding-left: 10px;
}

.tier1 {
  background-color: #ccffcc;
}
.tier2 {
  background-color: #ccccff;
}
.tier3 {
  background-color: #ffcccc;
}
.tierx {
  background-color: #fffac9
}
.tier-1-collapse-button,
.tier-1-collapse-button:hover,
.tier-1-collapse-button:active,
.tier-1-collapse-button:visited,
.tier-1-collapse-button:focus {
  background-color: #ccffcc;
  padding: 0;
  border: none;
  background: none;
}
.tier-2-collapse-button,
.tier-2-collapse-button:hover,
.tier-2-collapse-button:active,
.tier-2-collapse-button:visited,
.tier-2-collapse-button:focus {
  background-color: #ccccff;
  padding: 0;
  border: none;
  background: none;
}
.tier-3-collapse-button,
.tier-3-collapse-button:hover,
.tier-3-collapse-button:active,
.tier-3-collapse-button:visited,
.tier-3-collapse-button:focus {
  background-color: #ffcccc;
  padding: 0;
  border: none;
  background: none;
}
.tier-x-collapse-button,
.tier-x-collapse-button:hover,
.tier-x-collapse-button:active,
.tier-x-collapse-button:visited,
.tier-x-collapse-button:focus {
  background-color: #ccccff;
  padding: 0;
  border: none;
  background: none;
}

.level {
  width: 40px;
  text-align: center;
}
.totals {
  border-top: black 1px solid;
  font-weight: 800;
  font-size: large;
  text-align: center;
}
.worker-points-div {
  background-color: #f6e2a7;
  border-right: 2px white solid;
  border-left: 2px white solid;
  text-align: center;
  height: 18px;
  width: 90%;
}
.worker-points {
  width: 20px;
  height: 18px;
  background-color: #f6e2a7;
  color: #2aeea6;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  vertical-align: top;
  text-align: center;
  font-size: 7pt;
}

.vertical-text {
  transform: rotate(90deg);
  white-space: nowrap;
  text-align: center;
}
