#workerTemplate h5 {
  margin: 0px;
}

#workerTemplate i {
  font-size: xx-small;
}

#workerTemplate ul
{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.two-columns {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.three-columns {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

.even {
  background-color: aliceblue;
}
