<div>
  <h2>About</h2>
  <h5><i>This site aims to help making some decisions in <a href="http://shopheroes.com/">Shop Heroes</a></i></h5>
  <h5><i>It was created using a lot of information found in the shop heros <a href="http://shop-heroes.wikia.com/">wikia page</a> and the <a href="http://forum.shopheroes.com/">forum</a></i></h5>
  <h5><i>The site's source code can be found on <a href="https://github.com/uzilan/shopheroeshelper">github</a> and is hosted on <a href="https://heroku.com/">heroku</a></i></h5>
  <img src="images/Shop-Heroes.jpg">
</div>
