<div class="row">
  <div class="col-md-12">
    <h3>Workers</h3>
  </div>
</div>

<div class="row tier1 tier-title">
  <i>tier 1</i>
</div>

<div class="row tier1">
  <div ng-repeat="worker in tier1Workers track by $index"
       class="col-md-2">
    <div class="checkbox worker-checkbox">
      <label>
        <input type="checkbox" name="worker{{$index}}" ng-model="$parent.workersTier1[$index]" ng-value="$index"/>
        <x-worker></x-worker>
      </label>
    </div>
  </div>
</div>

<div class="row tier2 tier-title">
  <i>tier 2</i>
</div>

<div class="row tier2">
  <div ng-repeat="worker in tier2Workers track by $index"
       class="col-md-2">
    <div class="checkbox worker-checkbox">
      <label>
        <input type="checkbox" name="worker{{$index}}" ng-model="$parent.workersTier2[$index]" ng-value="$index"/>
        <x-worker></x-worker>
      </label>
    </div>
  </div>
</div>

<div class="row tier3 tier-title">
  <i>tier 3</i>
</div>

<div class="row tier3">
  <div ng-repeat="worker in tier3Workers track by $index"
       class="col-md-2">
    <div class="checkbox worker-checkbox">
      <label>
        <input type="checkbox" name="worker{{$index}}" ng-model="$parent.workersTier3[$index]" ng-value="$index"/>
        <x-worker></x-worker>
      </label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Specializations</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <span ng-repeat="spec in workerStructure.specializations track by $index">
      <x-spec></x-spec>
    </span>
  </div>
</div>


